package ${package}.modules.service.${moduleName};

import com.baomidou.mybatisplus.service.IService;
import ${mainPath}.common.utils.PageUtils;
import ${package}.entity.${moduleName}.${className}Entity;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

    PageUtils queryPage(Map<String, Object> params);
}

