body{
	height:auto; min-height:100%;background-color: #fff;
}
#header{
    background-color: transparent;height: 48px;
}
#header .share{
    position: absolute; right: 16px; bottom: 16px; color: #fff;
}
#header .back{
    position: absolute; left: 16px; bottom: 16px; color: #fff;
}
#header h1{
    font-size: 17px; background-color: transparent !important;
}
#banner{
    width: 100%; height: 180px; overflow: hidden; position: relative;
}
#banner img{
    width: 100%; height: 100%;
    /*
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: .8;
    */
}
#banner label{
    font-size: 24px; position: absolute; left: 20px; bottom:40px; color: #fff;
    font-weight: bold;
}
#banner .fav{
    position: absolute; right: 20px; bottom: 40px; color: #fff; font-size: 14px;
    opacity: .6; border-radius: 16px; background-color: #111; padding: 6px 14px;
}
#banner .fav:before{
    content: ""; width: 16px; height: 16px;
    display: inline-block; background: url(../image/fav.png) no-repeat left center;
    -webkit-background-size: contain;
    background-size: contain;
    margin-right: 8px; vertical-align: text-top;
}
#info{
    padding-bottom: 8px; background-color: #fff;z-index: 999;margin-left: 16px;
}
#info li{
    padding-top: 12px; color: #282828; font-size: 12px;
}
#info .title{
    font-size: 18px;
}
#info .line{
	height: 1px;border-bottom: 1px solid #c9c9c9;width: 95%
}
#info .date{
    background: url(../image/time-blue-icon.png) no-repeat left bottom; padding-left: 16px;padding-right: 12px;
    -webkit-background-size: 12px;
    background-size: 12px;
}
#info .tel{
    background: url(../image/Tel-blue-icon.png) no-repeat left bottom; padding-left: 16px;padding-right: 12px;
    -webkit-background-size: 12px;
    background-size: 12px;
}
#info .address{
    background: url(../image/landmark-red-btn.png) no-repeat left bottom; padding-left: 16px;padding-right: 12px;
    -webkit-background-size: 12px;
    background-size: 12px;
}
#info .project{
    background: url(../image/project-blue-icon.png) no-repeat left bottom; padding-left: 16px;padding-right: 12px;
    -webkit-background-size: 12px;
    background-size: 12px;

}
#main .hr{
	  background-color: #f2f2f2;height: 8px;
}

#main .type{
	  padding-left: 16px;padding-bottom: 8px;font-size: 14px;color: #282828;padding-right: 16px;
}
#main .detail{
	font-size: 12px;color: #656565;word-wrap:break-word;
}
#main .open{
	font-size: 10px;color: #409aff;margin-top: 10px;
}

#main .content{
	 font-size: 12px; color: #656565;background: #fff; padding-left: 16px;padding-top: 12px; width: 634px;
		position:relative;
		z-index: 800;
		top: 0px;
		word-wrap:break-word;

}
#main .hr{
	  background-color: #f2f2f2;height: 8px;
}
#picture{
	padding:20px 0;
}
#picture img{
  height: 82px; width: 108px;
}
#picture .m-item{
  padding-right: 6px;
}
.price table{
	margin: auto;
	width: 90%;

}
.price td{
	width: 33%;
	font-size: 12px;
	color: #656565;
}
.game{
	padding-top: 12px; padding-left: 16px;padding-right: 16px;
}
.game .gametitle{
	font-size: 16px;
	color: #282828;
}
.game .gamecontent{
	font-size: 12px;
	color: #656565;
	margin-right: 100px;
	height: 36px;
	position:relative
}
.game .gametime{
	font-size: 10px;
	color:  #989898;
	text-align: right;
	position:absolute;right:0;bottom:0
}
.game .sign{
	float: right;
	width: 80px;
	margin-top: 15px;
}
.game .gameline{
	height: 12px;
	border-bottom: 1px solid #c9c9c9;
}
.honor{

	padding-top: 12px; padding-left: 16px;padding-right: 16px;
}
.honor .honortitle{
	font-size: 16px;
	color: #282828;

}
.honor .honorcontent{
	font-size: 12px;
	color: #656565;
	word-wrap:break-word;
}
.honor .honortime{
	font-size: 10px;
	color: #989898;
	text-align: right;
}
.honor .honorline{
	height: 12px;
	border-bottom: 1px solid #c9c9c9;
}
.member{
	width: 675px;
	margin: auto;
	font-size: 14px;color: #282828;
	border: 1px;
}
.member td{
	height: 44px;border-bottom: 1px solid #eeeeee;
}
.member .t1{
	width: 49.5px;padding-left: 16px;
}
.member img{
	height: 16px;width: 20.5px;
}

.emptydata{
	font-size: 12px;
	color: #656565;
	padding-left: 16px;
	padding-top: 12px;
}
